In [9]:
name = "Galih"
age = 20
address, province = "Jl. Cibolang","7413412"
scorePython = 80.5
isMarried = False

print("Nama :",name)
print("Umur :",age)
print("Alamat :",address)
print("Nilai Pemrograman :",scorePython)
print("Status Menikah :", isMarried)

Nama : Galih
Umur : 20
Alamat : Jl. Cibolang
Nilai Pemrograman : 80.5
Status Menikah : False

In [7]:
print("Tipe Data <name>",type(name))
print("Tipe Data <age>",type(age))
print("Tipe Data <address>",type(address))
print("Tipe Data <province>",type(province))
print("Tipe Data <scorePython>",type(scorePython))
print("Tipe Data <isMarried>",type(isMarried))

Tipe Data <name> <class 'str'>
Tipe Data <age> <class 'int'>
Tipe Data <address> <class 'str'>
Tipe Data <province> <class 'str'>
Tipe Data <scorePython> <class 'float'>
Tipe Data <isMarried> <class 'bool'>

In [27]:
#casting atau konversi Tipe Data
#Konversi dari String ke (int, float,bool)
strToInt = int(province)
strToFloat = float(province)
strToBool = bool(province)
print(strToInt,strToFloat,strToBool, sep="-")

#Konversi dari int ke (str, float, bool)
intToStr = str(province)
intToFloat = float(province)
intToBool = bool(province)
print(intToStr,intToFloat,intToBool, sep="-")

#Konversi dari float ke (sttr, int, bool)
floatToStr = str(age)
floatToInt = int(age)
floatToBool = bool(age)
print(floatToStr, floatToInt,floatToBool, sep="-")

#Konversi dari bool ke(str, int, float)
boolToStr = str(isMarried)
boolToInt = int(isMarried)
boolToFloat = float(isMarried)
print(boolToStr, boolToInt, boolToFloat, sep="-")

7413412-7413412.0-True
7413412-7413412.0-True
20-20-True
False-0-0.0

In [31]:
city = "Bandung"
lencity =len(city)
print(city[0])
print(city[lencity-1])

B
g

In [37]:
desimal = 200
hexa = 0xff
biner = 0b1010
octal = 0o377

print("Nilai Desimal :",desimal)
print("Nilai Desimal dari 0xff :",hexa)
print("Nilai Desimal dari 0b1010 :",biner)
print("Nilai Desimal dari 0o377 :",octal)

print("==================")

print("Nilai Biner dari :",desimal,bin(desimal))
print("Nilai Octal dari :",desimal,oct(desimal))
print("Nilai Hexa dari :",desimal,hex(desimal))

Nilai Desimal : 200
Nilai Desimal dari 0xff : 255
Nilai Desimal dari 0b1010 : 10
Nilai Desimal dari 0o377 : 255
==================
Nilai Biner dari : 200 0b11001000
Nilai Octal dari : 200 0o310
Nilai Hexa dari : 200 0xc8

In [82]:
#Tipe Data Colletion

cities = ["Sukabumi","Bandung","Bogor","Jakarta"]
print(cities)
print(cities[0])
print(cities[len(cities)-1])
cities[2] = "Shizuoka"
print(cities)
print(cities[len(cities)-1][0])

#Tuple
names = ("Andi","Budi","Caca")
print(names)
#names[0] = "Rudi" akan menyebabkan eror karna tuple imutable(tidak dapat berubah)

studentData = {
    "name" : "Galih",
    "address" : {
        "street" : "Cibolang",
        "number" : 12345,
        "province" : "West Java"
    },
    "age" : 19,
    "isMarried" : False
}

#List of Dictionary 
ListStudent = [
    {
        "name" : "Galih",
        "address" : {
            "street" : "Cibolang",
            "number" : 12345,
            "province" : "West Java"
        },
        "hobbies" : ["Read Novel","Football"],
        "age" : 19,
        "isMarried" : False
    },    {
        "name" : "Budi",
        "address" : {
            "street" : "Cibolang",
            "number" : 54321,
            "province" : "West Java"
        },
        "hobbies" : ["Basket","Football"],
        "age" : 25,
        "isMarried" : False
    },
    
] 
print(studentData)
print(studentData["address"]["province"]) #West Java
print(ListStudent[1])
print(ListStudent[0]["hobbies"][1]) #hobi Galih urutan ke 2
print(ListStudent[0]["age"]) #umur Galih 19

['Sukabumi', 'Bandung', 'Bogor', 'Jakarta']
Sukabumi
Jakarta
['Sukabumi', 'Bandung', 'Shizuoka', 'Jakarta']
J
('Andi', 'Budi', 'Caca')
{'name': 'Galih', 'address': {'street': 'Cibolang', 'number': 12345, 'province': 'West Java'}, 'age': 19, 'isMarried': False}
West Java
{'name': 'Budi', 'address': {'street': 'Cibolang', 'number': 54321, 'province': 'West Java'}, 'hobbies': ['Basket', 'Football'], 'age': 25, 'isMarried': False}
Football
19